h1{
    font-size: 40px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
    color: black;
}

/*Background colors*/
body{
    background-color: gainsboro;
}

.background-color{
    background-color:snow;
}

.maintext{
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

.resizemain{
    height: 350px; 
    width:  350px;    
}

.resize {
    height: 160px; 
    width:  160px; 
}

.repose{
    margin-left:10px;
}

.side-height{
    height: 70%;
    margin-bottom: auto;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.box{
    margin-top: 50px;
    margin-bottom: 52px;
    margin-right: 5x;
    padding: 5px 15px 10px;
    background-color: snow;
}

.pull_left{
    width: 50%;
    height: 50%;
}

.column {
    flex: 50%;
    padding: 0 4px;
}

.sub-head{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: black;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  } 
    
footer{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:20px;
    color:snow;
    background: rgb(134, 133, 133);
    border-top: 5px solid black;
}   



tr:nth-child(even) {background-color: whitesmoke;}